*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #2e2e2e;
}

.is-hidden {
  display: none;
}

#studio {
  color: #404bbf;
}

.flex-box {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  gap: 15px;
}

.weather-header {
  color: #ffffff;
}

.input-container {
  position: relative;
  width: 340px;
}

.search-input {
  width: 100%;
  height: 29px;
  border-radius: 24px;
  border: none;
  padding-left: 10px;
  color: #435ce9;
  background-color: #ffffff;
}

.search-btn {
  position: absolute; /* Абсолютне позиціонування для кнопки */
  right: 9px; /* Відступ від правого краю */
  top: 50%; /* Вирівнюємо по вертикалі відносно центру */
  transform: translateY(-50%); /* Центруємо по вертикалі */
  padding: 3px 5px;
  border-radius: 24px;
  width: 75px;
  border: none;
  background: #435ce9;
  color: #ffffff;
}

.search-btn:hover {
  background: #384ecc;
}

.weather-info {
  background-image: linear-gradient(
      rgba(64, 70, 255, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../img/nature.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 540px;
  width: 340px;
  padding-top: 135px;
  padding-left: 25px;
  border-radius: 15px;
}

.weather-info-location {
  color: #ffffff;
  margin-bottom: 15px;
}

.temperature {
  color: #ffffff;
}

.description {
  color: #ffffff;
}
